* {
	padding: 0;
	margin: 0;
}

html, body, #root {
	height: 100%;
	max-height: 100%;
	overflow: hidden;
}

@font-face {
	font-family: "BootFont";
	src: local("gbb__"), url("./assets/fonts/gbb__.ttf") format("truetype");
}